# Anomaly Detection using STL
Sources: [GitHub repo](https://github.com/ritvikmath/Time-Series-Analysis/blob/master/STL%20Decomposition.ipynb) and [YouTube video](https://www.youtube.com/watch?v=1NXryMoU7Ho&list=LL&index=10)    
Feb 17th 2023

In [6]:
import os
from datetime import datetime
from statsmodels.tsa.seasonal import STL
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
# Plot configs:
sns.set_context("paper", font_scale= 1.5)
plt.rcParams['axes.spines.right']= False
plt.rcParams['axes.spines.top']= False
plotsize = (22, 5)
plt.rcParams['figure.figsize']= plotsize
# Pandas config
pd.options.display.float_format= '{:,.4f}'.format

In [8]:
print(os.getcwd())

/home/razielar/Documents/git_rep/Machine_learning/time_series_forecasting/coursera_time_series_forecasting/anomaly_detection

## 1) Input Data

In [13]:
filePath = "data/ice_cream_interest.csv"
df = pd.read_csv(filePath, parse_dates= ["month"])
df

         month  interest
0   2004-01-01        13
1   2004-02-01        15
2   2004-03-01        17
3   2004-04-01        19
4   2004-05-01        22
..         ...       ...
195 2020-04-01        55
196 2020-05-01        71
197 2020-06-01        81
198 2020-07-01        90
199 2020-08-01        76

[200 rows x 2 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   month     200 non-null    datetime64[ns]
 1   interest  200 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 3.2 KB